[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
.vs/
.idea/
*.csproj.user
*.sln
*.slnx
*.log
*.pidb
*.booproj
*.unityproj
*.pdb
*.mdb
*.opendb
*.VC.db
/Tools/**/bin/
/Tools/**/obj/
/TestResults/
/Artifacts/
/Assets/StreamingAssets/*.meta
